In [2]:
## Replcing every variable by count

import pandas as pd
import numpy as np


df = pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])
df.head()

  X1  X2
0  v   n
1  b  ai
2  v  as
3  l   n
4  s  as

In [3]:
df.shape

(4209, 2)

In [4]:
pd.get_dummies(df).shape

(4209, 72)

# one hot encoding

In [5]:
len(df[["X1"]])

4209

In [6]:
len(df['X2'].unique())

45

In [7]:
# let's look at how many labels

for col in df.columns[0:]:
    print(col,':',len(df[col].unique()),'labels')

X1 : 27 labels
X2 : 45 labels

In [8]:
# Now replace every variable with count

df.X2.value_counts().to_dict()

{'as': 1658,
 'ae': 478,
 'ai': 462,
 'm': 348,
 'ak': 260,
 'r': 155,
 'n': 113,
 's': 100,
 'f': 85,
 'e': 84,
 'ay': 78,
 'aq': 72,
 'a': 44,
 'b': 38,
 'k': 25,
 't': 25,
 'ag': 23,
 'ac': 20,
 'ao': 19,
 'i': 15,
 'z': 12,
 'ap': 11,
 'p': 10,
 'aw': 9,
 'h': 6,
 'd': 6,
 'g': 5,
 'q': 5,
 'au': 5,
 'al': 4,
 'ad': 4,
 'af': 4,
 'ab': 4,
 'ah': 3,
 'am': 3,
 'w': 3,
 'at': 3,
 'j': 2,
 'x': 2,
 'av': 1,
 'ax': 1,
 'y': 1,
 'aj': 1,
 'an': 1,
 'u': 1}

In [9]:
df_frequency_map = df.X2.value_counts().to_dict()

In [10]:
# and now replace X2 labels in the dataset df

df.X2 = df.X2.map(df_frequency_map)
df.head()

  X1    X2
0  v   113
1  b   462
2  v  1658
3  l   113
4  s  1658

In [48]:
df[['X1']]

      X1
0      v
1      b
2      v
3      l
4      s
...   ..
4204   h
4205  aa
4206   v
4207   v
4208  aa

[4209 rows x 1 columns]