In [3]:
import pandas as pd
import datetime

In [4]:
# create a variable with dates and from that extract thw weekday
# creatw a list of dates with 20days difference from today
# and then transform it into a dataframe

df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range (0,20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2022-04-06 09:40:52.511389
1  2022-04-05 09:40:52.511389
2  2022-04-04 09:40:52.511389
3  2022-04-03 09:40:52.511389
4  2022-04-02 09:40:52.511389
5  2022-04-01 09:40:52.511389
6  2022-03-31 09:40:52.511389
7  2022-03-30 09:40:52.511389
8  2022-03-29 09:40:52.511389
9  2022-03-28 09:40:52.511389
10 2022-03-27 09:40:52.511389
11 2022-03-26 09:40:52.511389
12 2022-03-25 09:40:52.511389
13 2022-03-24 09:40:52.511389
14 2022-03-23 09:40:52.511389
15 2022-03-22 09:40:52.511389
16 2022-03-21 09:40:52.511389
17 2022-03-20 09:40:52.511389
18 2022-03-19 09:40:52.511389
19 2022-03-18 09:40:52.511389

In [8]:
# Extract the work day name

df['day_of_work'] = df['day'].dt.weekday_name
df.head()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'